<div class="row topPage ">
  <%= image_tag 'TopImage.jpg',class:'img-responsive'%>
  <div class="msgBox">
    <p class="title">
      140文字で今をつぶやこう！
    </p>
    <p class="content">このアプリはTwitterもどきです。
    過度な期待はせず用法用量を守り正しくお使いください。m(_ _)m
    </p>
  </div>
</div>